@{
    ViewData["Title"] = "Genres Page";

}

<div id="main">
    <div id="content">
        <div class="box">
            <div class="head">
                <h2>GENRES</h2>
                <p class="text-right">.<a href="#"></a></p>
            </div>
            <div class="movie">
                <div class="movie-image"> <a href="@Url.Action("action","genres")"> <img src="~/css/images/action.jpg" alt="" /></a> </div>
                <div class="rating">
                    <p>ACTION</p>
                    <span class="comments"></span>
                </div>
            </div>
            <div class="movie">
                <div class="movie-image">  <a href="@Url.Action("Adventure","genres")"><img src="~/css/images/adventure.png" alt="" /></a> </div>
                <div class="rating">
                    <p>ADVENTURE</p>

                    <span class="comments"></span>
                </div>
            </div>
            <div class="movie">
                <div class="movie-image">  <a href="@Url.Action("car","genres")"><img src="~/css/images/CAR.jpg" alt="" /></a> </div>
                <div class="rating">
                    <p>CAR</p>

                    <span class="comments"></span>
                </div>
            </div>
            <div class="movie">
                <div class="movie-image">  <a href="@Url.Action("Comedy","genres")"><img src="~/css/images/comedy.jpg" alt="" /></a> </div>
                <div class="rating">
                    <p>COMEDY</p>

                    <span class="comments"></span>
                </div>
            </div>
            <div class="movie">
                <div class="movie-image">  <a href="@Url.Action("Drama","genres")"><img src="~/css/images/drama.jpg" alt="" /></a> </div>
                <div class="rating">
                    <p>DRAMA</p>

                    <span class="comments"></span>
                </div>
            </div>
            <div class="movie last">
                <div class="movie-image">  <a href="@Url.Action("Horror","genres")"><img src="~/css/images/horror.jpg" alt="" /></a> </div>
                <div class="rating">
                    <p>HORROR</p>

                    <span class="comments"></span>
                </div>

            </div>

            <div class="movie">
                <div class="movie-image">  <a href="#"><img src="~/css/images/MAGIC.jpg" alt="" /></a> </div>
                <div class="rating">
                    <p>MAGIC</p>

                    <span class="comments"></span>
                </div>
            </div>
            <div class="movie">
                <div class="movie-image">  <a href="#"><img src="~/css/images/SCIFI.jpg" alt="" /></a> </div>
                <div class="rating">
                    <p>SCI-FI</p>

                    <span class="comments"></span>
                </div>
            </div>
            <div class="movie">
                <div class="movie-image">  <a href="#"><img src="~/css/images/sliceoflife.jpg" alt="" /></a> </div>
                <div class="rating">
                    <p>SLICE OF LIFE</p>

                    <span class="comments"></span>
                </div>
            </div>
            <div class="movie">
                <div class="movie-image">  <a href="#"><img src="~/css/images/supernatural.jpg" alt="" /></a> </div>
                <div class="rating">
                    <p>SUPERNATURAL</p>

                    <span class="comments"></span>
                </div>
            </div>
            <div class="movie">
                <div class="movie-image">  <a href="#"><img src="~/css/images/thriller.jpg" alt="" /></a> </div>
                <div class="rating">
                    <p>THRILLER</p>

                    <span class="comments"></span>
                </div>
            </div>
            <div class="movie last">
                <div class="movie-image">  <a href="#"><img src="~/css/images/VAMPIRE.jpg" alt="" /></a> </div>
                <div class="rating">
                    <p>VAMPIRE</p>

                    <span class="comments"></span>
                </div>


                <div class="cl">&nbsp;</div>

            </div>

        </div>

        <div class="cl">&nbsp;</div>
    </div>

    <div id="footer">
        <p class="lf">Copyright &copy; 2010 <a href="#">SiteName</a> - All Rights Reserved</p>
        <p class="rf">Design by <a href="http://chocotemplates.com/">ChocoTemplates.com</a></p>
        <div style="clear:both;"></div>
    </div>
</div>